In [77]:
import numpy as np
import pandas as pd

In [78]:
# Download and load the Ames CSV file. Read the file into a Pandas DataFrame
df = pd.read_csv('AmesHousing.csv')

In [79]:
# display the first five rows
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [80]:
df.columns

Index(['Order', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'Sale Condition', 'SalePrice'],
      dtype='object')

In [81]:
# Print the highest and lowest priced homes in Ames
max_value = df['SalePrice'].max()
min_value = df['SalePrice'].min()

print(max_value)
print(min_value)

755000
12789

In [82]:
# How many categories does lot size have
lot_size = df.groupby('Lot Shape').size()
print(lot_size)
lot_count = lot_size.count()
print(lot_count)

Lot Shape
IR1     979
IR2      76
IR3      16
Reg    1859
dtype: int64
4

In [83]:
# What is the range of years for the house listings in the data
range_min = df['Year Built'].min()
range_max = df['Year Built'].max()

range_total = (range_min, range_max)
print(range_total)

(1872, 2010)

In [84]:
# What is the total number of all homes sold in Ames for all years
ames_sum = df['Neighborhood'].str.contains('Ames').sum()
print(ames_sum)

574

In [85]:
# How many nulls or NA are there in the Lot Frontage column
lot_na = df['Lot Frontage'].isna().sum()
print(f'NAs: {lot_na}')

NAs: 490

In [86]:
# How many items have a value in Alley and what is the total number of  NA in the column
alley_value = df['Alley'].count()
print(f'Values: {alley_value}')

na_count = df['Alley'].isna().count()
print(f'NAs: {na_count}')

Values: 198
NAs: 2930

In [87]:
# What are all the homes in Gilbert with Yr Sold being 2009 and 2010
homes_sold = df[(df['Neighborhood'] == 'Gilbert') & ((df['Yr Sold'] == 2010) | (df['Yr Sold'] == 2009)) ]
print(homes_sold)

     Order        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street  \
4        5  527105010           60        RL          74.0     13830   Pave
5        6  527105030           60        RL          78.0      9978   Pave
9       10  527162130           60        RL          60.0      7500   Pave
10      11  527163010           60        RL          75.0     10000   Pave
11      12  527165230           20        RL           NaN      7980   Pave
12      13  527166040           60        RL          63.0      8402   Pave
13      14  527180040           20        RL          85.0     10176   Pave
16      17  527225035           50        RL         152.0     12134   Pave
18      19  527276150           20        RL         140.0     19138   Pave
51      52  528218150           20        RL         100.0     18494   Pave
54      55  528231020           80        RL          67.0     13300   Pave
55      56  528240070           60        RL           NaN      7851   Pave
56      57  528240130           60        RL          63.0      8577   Pave
57      58  528250100           80        RL           NaN      7750   Pave
58      59  528292020           60        RL           NaN      9505   Pave
344    345  527105070           60        RL          88.0     10179   Pave
345    346  527105130           60        RL           NaN     11792   Pave
346    347  527107130           80        RL          60.0      8400   Pave
347    348  527108070           20        RL          42.0     14892   Pave
348    349  527110020           80        RL           NaN      8530   Pave
353    354  527161040           80        RL          57.0      8923   Pave
354    355  527162110           60        RL          74.0     10141   Pave
355    356  527162120           60        RL          60.0      7500   Pave
356    357  527163040           60        RL          59.0      7837   Pave
357    358  527163070           60        RL           NaN      9765   Pave
358    359  527163130           60        RL           NaN      8803   Pave
359    360  527164020           20        RL          58.0      7250   Pave
360    361  527164060           60        RL           NaN      9636   Pave
361    362  527164090           60        RL          65.0      8125   Pave
362    363  527165130           20        RL           NaN      9248   Pave
363    364  527166010           60        RL           NaN     10762   Pave
364    365  527180100           20        RL          99.0     11851   Pave
369    370  527276160           60        RL          85.0     11900   Pave
464    465  528218090           60        RL          63.0     10928   Pave
465    466  528220040           60        RL          57.0      8918   Pave
466    467  528221060           60        RL         149.0     12589   Pave
467    468  528221070           60        RL         122.0     11911   Pave
474    475  528235010           60        RL          71.0      7795   Pave
475    476  528235090           60        RL           NaN      8068   Pave
476    477  528235200           80        RL          59.0      9434   Pave
477    478  528240030           60        RL          62.0      7984   Pave
478    479  528240060           80        RL           NaN      7750   Pave
479    480  528240150           60        RL          61.0     10125   Pave
480    481  528250020           60        RL           NaN      8965   Pave
481    482  528250040           60        RL           NaN      8174   Pave
483    484  528275070           60        RL           NaN      8795   Pave
484    485  528275160           60        RL           NaN     12891   Pave
485    486  528280230           60        RL           NaN     12224   Pave
486    487  528290030           80        RL          61.0      9734   Pave
487    488  528290120           60        RL          60.0      8123   Pave
488    489  528290180           60        RL          42.0      8433   Pave
489    490  528290190           80        RL          62.0      7750   Pave
490    491  528292030           60        RL           NaN     15896   Pave
491    492  528292040           60        RL           NaN     24682   Pave
492    493  528292070           60        RL           NaN      8755   Pave
493    494  528294050           80        RL          64.0      7848   Pave

    Alley Lot Shape Land Contour  ... Pool Area Pool QC  Fence Misc Feature  \
4     NaN       IR1          Lvl  ...         0     NaN  MnPrv          NaN
5     NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
9     NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
10    NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
11    NaN       IR1          Lvl  ...         0     NaN  GdPrv         Shed
12    NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
13    NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
16    NaN       IR1          Bnk  ...         0     NaN    NaN          NaN
18    NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
51    NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
54    NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
55    NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
56    NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
57    NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
58    NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
344   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
345   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
346   NaN       Reg          Lvl  ...         0     NaN    NaN         Shed
347   NaN       IR1          HLS  ...         0     NaN    NaN          NaN
348   NaN       IR1          Lvl  ...         0     NaN    NaN         Shed
353   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
354   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
355   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
356   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
357   NaN       IR2          Lvl  ...         0     NaN    NaN         Shed
358   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
359   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
360   NaN       IR1          Lvl  ...         0     NaN  MnPrv          NaN
361   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
362   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
363   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
364   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
369   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
464   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
465   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
466   NaN       IR2          Lvl  ...         0     NaN    NaN          NaN
467   NaN       IR2          Lvl  ...         0     NaN    NaN          NaN
474   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
475   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
476   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
477   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
478   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
479   NaN       IR1          Lvl  ...         0     NaN  MnPrv          NaN
480   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
481   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
483   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
484   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
485   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
486   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
487   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
488   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
489   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
490   NaN       IR2          Lvl  ...         0     NaN    NaN          NaN
491   NaN       IR3          Lvl  ...         0     NaN    NaN          NaN
492   NaN       IR1          Lvl  ...         0     NaN  GdPrv          NaN
493   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN

    Misc Val Mo Sold Yr Sold Sale Type  Sale Condition  SalePrice
4          0       3    2010       WD           Normal     189900
5          0       6    2010       WD           Normal     195500
9          0       6    2010       WD           Normal     189000
10         0       4    2010       WD           Normal     175900
11       500       3    2010       WD           Normal     185000
12         0       5    2010       WD           Normal     180400
13         0       2    2010       WD           Normal     171500
16         0       6    2010       WD           Normal     164000
18         0       6    2010       WD           Normal     141000
51         0       1    2010       WD           Normal     199500
54         0       6    2010       WD           Normal     184500
55         0       5    2010       WD           Normal     216500
56         0       4    2010       WD           Normal     185088
57         0       4    2010       WD           Normal     180000
58         0       5    2010       WD           Normal     222500
344        0       7    2009       WD           Normal     189500
345        0       8    2009       WD           Normal     270000
346      490       6    2009       WD           Normal     189000
347        0      10    2009       WD           Normal     377500
348      700       5    2009       WD           Normal     168500
353        0       2    2009       WD           Normal     177500
354        0      12    2009       WD           Normal     185000
355        0      10    2009       WD           Normal     191000
356        0       5    2009       WD           Normal     178000
357      480       4    2009       WD           Normal     185000
358        0       7    2009       WD           Normal     181316
359        0      11    2009       WD           Normal     166000
360        0      12    2009       WD           Normal     178000
361        0       3    2009       WD           Normal     174000
362        0       7    2009       WD           Normal     173000
363        0       5    2009       WD           Normal     225000
364        0       5    2009       WD           Normal     180500
369        0       7    2009       WD           Normal     185000
464        0       6    2009       WD           Normal     184000
465        0       7    2009       WD           Normal     167800
466        0       6    2009       WD           Normal     174000
467        0       3    2009       WD           Normal     174000
474        0       7    2009       WD           Normal     188500
475        0      12    2009     ConLI          Normal     200000
476        0       8    2009       WD           Normal     170000
477        0       9    2009       WD           Normal     189500
478        0       3    2009       WD           Normal     184100
479        0       7    2009       WD           Normal     195500
480        0       6    2009       WD           Normal     192000
481        0       5    2009       WD           Normal     178000
483        0       4    2009       WD           Normal     236000
484        0       7    2009       WD           Normal     257500
485        0       7    2009       WD           Normal     244000
486        0       5    2009       WD           Normal     167000
487        0       6    2009       WD           Normal     179000
488        0       6    2009       WD           Normal     190000
489        0       3    2009       WD           Normal     156000
490        0       5    2009       WD           Normal     245000
491        0       6    2009       WD           Normal     181000
492        0       6    2009       WD           Normal     214000
493        0       6    2009       WD           Normal     168000

[56 rows x 82 columns]

In [88]:
# What is the count of homes sold in Gilbert with Yr Sold being 2010
homes_sold = df[(df['Neighborhood'] == 'Gilbert') & (df['Yr Sold'] == 2010)]
homes_sold_count = homes_sold.shape[0]
print(homes_sold_count)

15

In [89]:
# Return the value of the third row, and fifth column
third_fifth = df.iloc[3, 5]
print(third_fifth)

11160

In [90]:
# Remake a new column from the SalePrice that includes data formatted with the $, and commas for the thousands/millions digits
df['NewSalePrice'] = df['SalePrice']
df['NewSalePrice'].apply(lambda x: (f'${x:,.0f}'))

0       $215,000
1       $105,000
2       $172,000
3       $244,000
4       $189,900
          ...
2925    $142,500
2926    $131,000
2927    $132,000
2928    $170,000
2929    $188,000
Name: NewSalePrice, Length: 2930, dtype: object

In [96]:
# Output a dataframe with only SalePrice, Neighborhood, and Year Built.  Save this file in your git repository as “minimal_ames_housing.csv”,  Make sure you include the formatted SalePrice from the previous question
minimal_ames_housing = df[['SalePrice', 'Neighborhood', 'Year Built']]
minimal_ames_housing

      SalePrice Neighborhood  Year Built
0        215000        NAmes        1960
1        105000        NAmes        1961
2        172000        NAmes        1958
3        244000        NAmes        1968
4        189900      Gilbert        1997
...         ...          ...         ...
2925     142500      Mitchel        1984
2926     131000      Mitchel        1983
2927     132000      Mitchel        1992
2928     170000      Mitchel        1974
2929     188000      Mitchel        1993

[2930 rows x 3 columns]

In [98]:
minimal_ames_housing.to_csv('minimal_ames_housing.csv')